@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --var-putih: #fff;
  --var-pink: #ff0157;
  --var-hitam: #000;
}

header {
  display: flex;
  padding: 40px 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: transparent;
  align-items: center;
  transition: 0.7s;
}

header.sticky {
  background-color: #fff;
  padding: 20px 100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

header .logo a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  color: var(--var-putih);
}

header.sticky .logo a {
  color: var(--var-hitam);
}

header .logo span {
  color: var(--var-pink);
}

.nav {
  margin-left: auto;
  display: flex;
  list-style: none;
}

.nav li a {
  text-decoration: none;
  margin: 0px 15px;
  color: var(--var-putih);
}

.nav li a:hover {
  color: var(--var-pink);
}

header.sticky .nav li a {
  color: var(--var-hitam);
}

header.sticky .nav li a:hover {
  color: var(--var-pink);
}

/*Section Home*/

section {
  padding: 100px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--var-putih);
}

#home {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*cara menampilkan teks didalam gambar*/
  background: url(assets/bg.jpg);
  background-size: cover;
  background-position: center center;
}

.container-home {
  text-align: center;
  line-height: 1.6;
}

.title-home {
  font-size: 4em;
  font-weight: 700;
  color: var(--var-putih);
}

.text-home {
  font-size: 20px;
  color: var(--var-putih);
}

.btn-more {
  margin: 15px 0;
}

.btn-more a {
  padding: 12px 15px;
  color: var(--var-putih);
  background-color: var(--var-pink);
  text-decoration: none;
  transition: 0.6s;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-more a:hover {
  letter-spacing: 4px;
}

/*Section About*/

#about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col-50-about {
  width: 50%;
}

.title-about {
  font-size: 32px;
  font-weight: 600;
}

.title-about span {
  font-size: 45px;
  color: var(--var-pink);
}

.text-about {
  text-align: justify;
  margin-right: 40px;
}

.img-about {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 300px;
  margin-left: 20px;
}

.img-about img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*menu*/

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-menu {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.header-menu .title-menu {
  font-size: 32px;
  font-weight: 500;
}

.header-menu .title-menu span {
  font-size: 45px;
  color: var(--var-pink);
}

.header-menu .text-menu {
  font-size: 18px;
}

.content-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.content-menu .box-menu {
  margin: 15px;
  border: 15px solid #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px;
}

.content-menu .box-menu img {
  width: 350px;
  height: auto;
}

/*section expert*/

#expert {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-expert {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.header-expert .title-expert {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 500;
}

.header-expert .title-expert span {
  color: var(--var-pink);
  font-size: 50px;
}

.content-expert {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.content-expert .box-expert {
  margin: 15px;
  border: 15px solid #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.content-expert .box-expert img {
  width: 220px;
  height: auto;
}

/*section testimonial*/

#testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(assets/bg2.jpg);
  background-position: center center;
}

.header-testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  color: var(--var-putih);
}

.header-testimonial .title-testimonial {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 500;
}

.header-testimonial .title-testimonial span {
  color: var(--var-pink);
  font-size: 50px;
}

.content-testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-testimonial .box-testimonial {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 15px;
  width: 290px;
  height: 350px;
  align-items: center;
  background: var(--var-putih);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.content-testimonial .name-testimonial {
  font-size: 12px;
  font-style: italic;
  text-align: center;
  margin: 15px;
}

.content-testimonial .box-testimonial img {
  width: 70px;
  height: auto;
  border-radius: 100px;
}

.box-testimonial a {
  color: var(--var-pink);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}

/*section contact*/

#contact {
  display: flex;
  flex-direction: column;
  background: url(assets/bg3.jpg);
  background-position: center center;
}

.header-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.header-contact .title-contact {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 500;
}

.header-contact .title-contact span {
  color: var(--var-pink);
  font-size: 50px;
}

.box-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  padding: 80px;
  width: 400px;
  height: 400px;
  background: var(--var-putih);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.input {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.input input {
  padding: 10px 170px 10px 10px;
}

.btn {
  margin: 25px 0;
}

.btn a {
  text-decoration: none;
  padding: 8px 15px;
  background-color: var(--var-pink);
  color: #fff;
  transition: 0.3s;
}

.btn a:hover {
  background-color: #0077c2;
}

/*section footer*/

#footer {
  display: flex;
  justify-content: center;
  background-color: #111;
  min-height: 200px;
  padding: 30px 0;
}

.footer-content {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social a {
  color: var(--var-hitam);
  margin: 0 10px;
  font-size: 25px;
  background-color: var(--var-putih);
  padding: 10px 15px;
  border-radius: 15px;
}

.footer-social a:hover {
  background-color: var(--var-pink);
  color: var(--var-putih);
  transition: 0.6s;
}

.footer-copyright p {
  margin-top: 30px;
  color: var(--var-putih);
}

.copyright-text {
  color: var(--var-putih);
}

/* @media (max-width: 991px) {
  body {
    overflow-x: hidden;
  }

  header {
    padding: 20px;
    justify-content: space-between;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav {
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: var(--var-putih);
    min-height: 100vh;
    justify-content: center;
  }

  .nav.active {
    left: 0;
  }
  .nav li {
    margin: 15px 0;
  }
  .nav li a {
    color: var(--var-hitam);
    font-size: 20px;
  }
}

header.sticky {
  padding: 20px;
}

header.sticky .bar {
  background-color: var(--var-hitam);
}

section {
  padding: 100px 30px;
}

.container-home {
  line-height: 1.5;
}

.title-home {
  font-size: 3em;
}

.btn-more a {
  padding: 8px 12px;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.btn-more a:hover {
  letter-spacing: 2px;
}

Section About

#about {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-50-about {
  width: 100%;
}

.text-about {
  margin-right: 0;
  margin-bottom: 20px;
}

.img-about {
  margin-left: 0;
}

Section Menu

.content-menu {
  margin: 20px 0;
  gap: 15px;
}

.content-menu .box-menu {
  margin: 0;
}

.content-menu .box-menu img {
  width: 110px;
}

.box-menu p {
  font-size: 14px;
}

Section Expert

.text-expert {
  text-align: justify;
}

.content-expert {
  gap: 10px;
}

.content-expert .box-expert {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-expert .box-expert img {
  width: 100px;
  margin-bottom: 10px;
}

.content-expert .box-expert p {
  font-size: 14px;
} */
